<section class="text-center mt-20">
  <h1
    class="text-5xl sm:text-7xl font-extrabold bg-gradient-to-r from-purple-500 to-blue-400 text-transparent bg-clip-text mb-6"
  >
    ✂️ URL SHORTENER
  </h1>
  <p class="text-lg max-w-lg sm:text-xl mx-auto mb-6">
    Transform your lengthy links into compact, shareable ones effortlessly.
    <span class="block text-lg sm:text-xl mt-2 text-gray-400">
      Simple, fast, and perfect for sharing!
    </span>
  </p>
</section>
